<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="test"/>
  <arg name="enable_logging" default="false"/>
  <arg name="log_file" default="$(arg namespace)"/>
  <arg name="lidar_type" default="vlp-16"/>
  <arg name="lidar_gpu" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="enable_rviz" default="false"/>
  <arg name="enable_bt" default="false"/>
  <arg name="tree_file"/>
  
  <group ns="$(arg namespace)">
  <!-- Spawn UAV -->
      <include file="$(find mae_simulator)/launch/helpers/spawn_mav.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="model" value="$(find mae_simulator)/urdf/mav_generic_odometry_and_lidar.xacro" />
        <arg name="enable_logging" value="$(arg enable_logging)" />
        <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
        <arg name="log_file" value="$(arg log_file)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="lidar_gpu" value="$(arg lidar_gpu)"/>
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
      </include>
  <!-- Control Nodes -->
      <node name="$(arg namespace)_position_controller_node" pkg="rotors_control" type="lee_position_controller_node">
        <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_neo11.yaml" />
        <rosparam command="load" file="$(find rotors_gazebo)/resource/neo11.yaml" />
        <remap from="odometry" to="ground_truth/odometry" />
      </node>

      <node name="$(arg namespace)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
      
      <node name="$(arg namespace)_vel_controller_node" pkg="mae_control" type="vel_controller_node.py"/>



  <!-- 2d Navigation -->
    <node name="move_base" pkg="move_base" type="move_base"  output="screen" respawn="false">
      <rosparam file="$(find mae_control)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mae_control)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mae_control)/config/local_costmap_params.yaml" command="load" subst_value="true">
        <arg name="namespace" value ="$(arg namespace)"/>
      </rosparam>
      <rosparam file="$(find mae_control)/config/global_costmap_params.yaml" command="load" subst_value="true">
        <arg name="namespace" value ="$(arg namespace)"/>
      </rosparam>
      <rosparam file="$(find mae_control)/config/base_local_planner_params.yaml" command="load" />

      <remap from="/$(arg namespace)/cmd_vel" to="/$(arg namespace)/command/cmd_vel"/>
      <remap from="/$(arg namespace)/odom" to="/$(arg namespace)/ground_truth/odometry"/>       
    </node>

  <!-- Behavior Tree Controller -->
    <group if="$(arg enable_bt)">
      <node pkg="mae_btrees" type="bt_node" name="behavior_tree_node" output="screen" >
		    <param name="file" value="$(arg tree_file)"/>
	    </node>
	    <!-- <node name="groot" pkg="groot" type="Groot" output="screen"/> -->
    </group>
    
    <node name="drone_comm_node" pkg="mae_utils" type="drone_comm_node.py"  output="screen">
      <!-- TODO: add params -->
    </node>
  </group>
</launch>