<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="test"/>
  <arg name="enable_logging" default="false"/>
  <arg name="log_file" default="$(arg namespace)"/>
  <arg name="lidar_type" default="vlp-16"/>
  <arg name="lidar_gpu" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  

  <group ns="$(arg namespace)">
      <include file="$(find mae_simulator)/launch/helpers/spawn_mav.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="model" value="$(find mae_simulator)/urdf/mav_generic_odometry_and_lidar.xacro" />
        <arg name="enable_logging" value="$(arg enable_logging)" />
        <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
        <arg name="log_file" value="$(arg log_file)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="lidar_gpu" value="$(arg lidar_gpu)"/>
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
      </include>

      <node name="$(arg namespace)_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
        <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_neo11.yaml" />
        <rosparam command="load" file="$(find rotors_gazebo)/resource/neo11.yaml" />
        <remap from="odometry" to="ground_truth/odometry" />
      </node>

      <node name="$(arg namespace)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
      
      <node name="$(arg namespace)_rviz_goal_publisher_node" pkg="mae_control" type="rviz_goal_publisher_node.py" output="screen"/>
      <node name="$(arg namespace)_vel_controller_node" pkg="mae_control" type="vel_controller_node.py" output="screen"/>

      <node name="$(arg namespace)_base_footprint_publisher_node" pkg="mae_utils" type="base_footprint_publisher_node.py" output="screen"/>  

      <node pkg="octomap_server" type="octomap_server_node" name="$(arg namespace)_octomap_server">
        
        
        <param name="resolution" value="0.15" />
        <param name="latch" value="false" />
        <param name="frame_id" type="string" value="world" />
        <param name="sensor_model/max_range" value="100" />
        <param name="occupancy_min_z" value="0.15"/>
        
        <remap from="cloud_in" to="/$(arg namespace)/velodyne_points" />
    
      </node>

    <node pkg="rviz" type="rviz" name="$(arg namespace)_rviz" respawn="false" output="screen" args="-d $(find mae_simulator)/rviz/lidar.rviz">
      <remap from="/move_base_simple/goal" to="/$(arg namespace)/move_base_simple/goal"/>
      <remap from="/lidar_points_topic" to="/$(arg namespace)/velodyne_points"/>
      <remap from="/octomap_points_topic" to="/$(arg namespace)/occupied_cells_vis_array"/>
      <remap from="/projected_map" to="/$(arg namespace)/projected_map"/>
      
    </node>
   

  </group>
   
</launch>