<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="test"/>
  <arg name="enable_logging" default="false"/>
  <arg name="log_file" default="$(arg namespace)"/>
  <arg name="lidar_type" default="vlp-16"/>
  <arg name="lidar_gpu" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="enable_rviz" default="false"/>
  <arg name="enable_bt" default="false"/>
  <arg name="tree_file"/>
  
  <group ns="$(arg namespace)">
  <!-- Spawn UAV -->
      <include file="$(find mae_simulator)/launch/helpers/spawn_mav.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="model" value="$(find mae_simulator)/urdf/mav_generic_odometry_and_lidar.xacro" />
        <arg name="enable_logging" value="$(arg enable_logging)" />
        <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
        <arg name="log_file" value="$(arg log_file)"/>
        <arg name="lidar_type" value="$(arg lidar_type)"/>
        <arg name="lidar_gpu" value="$(arg lidar_gpu)"/>
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
      </include>
  <!-- Control Nodes -->
      <node name="$(arg namespace)_position_controller_node" pkg="rotors_control" type="lee_position_controller_node">
        <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_neo11.yaml" />
        <rosparam command="load" file="$(find rotors_gazebo)/resource/neo11.yaml" />
        <remap from="odometry" to="ground_truth/odometry" />
      </node>

      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
      
      <node name="vel_controller_node" pkg="mae_control" type="vel_controller_node.py"/>
    
     <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        
        <param name="resolution" value="0.18" />
        <param name="latch" value="false" />
        <param name="frame_id" type="string" value="world" />
        <param name="sensor_model/max_range" value="500" />
        <!-- <param name="occupancy_min_z" value="0.15"/>
        <param name="occupancy_max_z" value="1.5"/> -->
        <param name="incremental_2D_projection" value="true"/>
        <param name="pointcloud_min_z" value="0.15"/>
        <param name="pointcloud_max_z" value="2"/>
        
        <remap from="cloud_in" to="/$(arg namespace)/combined_pcl" />
    
    </node>


  <!-- 2d Navigation -->
    <node name="move_base" pkg="move_base" type="move_base"  output="log" respawn="false">
      <rosparam file="$(find mae_control)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mae_control)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mae_control)/config/local_costmap_params.yaml" command="load" subst_value="true">
        <arg name="namespace" value ="$(arg namespace)"/>
      </rosparam>
      <rosparam file="$(find mae_control)/config/global_costmap_params.yaml" command="load" subst_value="true">
        <arg name="namespace" value ="$(arg namespace)"/>
      </rosparam>
      <rosparam file="$(find mae_control)/config/base_local_planner_params.yaml" command="load" />

      <remap from="/$(arg namespace)/cmd_vel" to="/$(arg namespace)/command/cmd_vel"/>
      <remap from="/$(arg namespace)/odom" to="/$(arg namespace)/ground_truth/odometry"/>       
    </node>

    
     
   

    <!-- Frontier Generation package -->
    <node pkg="mae_frontier_generation" type="frontier_generation_node" name="frontier_generation_node" output="screen">
      <remap from="/map_in" to="/$(arg namespace)/projected_map"/>
      <remap from="/frontiers_out" to="/$(arg namespace)/frontiers"/>
      <remap from="/frontiers_viz_out" to="/$(arg namespace)/frontiers_viz"/>
      <remap from= "/blacklist_pt_in" to="/$(arg namespace)/blacklist_pt"/>
      <remap from= "/exploration_area_out" to="/$(arg namespace)/exploration_area"/>
    </node>  
    
     <node name="global_planner_node" pkg="mae_global_planner" type="global_planner_node" output="screen"/>

    <node name="drone_comm_node" pkg="mae_utils" type="drone_comm_node.py"  output="screen">
    </node>


  <!-- Behavior Tree Controller -->
    <group if="$(arg enable_bt)">
      <node pkg="mae_btrees" type="bt_node" name="behavior_tree_node" output="screen" >
		    <param name="file" value="$(arg tree_file)"/>
	    </node>
	    <!-- <node name="groot" pkg="groot" type="Groot" output="screen"/> -->
    </group>
     <node pkg="rviz" type="rviz" name="single_rviz" respawn="false" output="screen" args="-d $(find mae_simulator)/rviz/single.rviz" if="$(arg enable_rviz)">
        <remap from="/map" to="/$(arg namespace)/filtered_map"/>
        <remap from="/octomap" to="/$(arg namespace)/occupied_cells_vis_array"/>
        <remap from="/robot_description" to="/$(arg namespace)/robot_description"/>
        <remap from="/goal" to="/$(arg namespace)/move_base/current_goal"/>
        <remap from="/move_base_simple/goal" to="/$(arg namespace)/move_base_simple/goal"/>
        <remap from="/combined_pcl" to="/$(arg namespace)/combined_pcl"/>
        <remap from="/path" to="/$(arg namespace)/move_base/NavfnROS/plan"/>
        <remap from="/frontiers" to="/$(arg namespace)/frontiers_viz"/>
        <remap from="/global_plan" to="/$(arg namespace)/markers"/>
        
     </node>

    
     
  </group>
  
</launch>