<launch>
  <!-- GAZEBO arguments -->
  <arg name="world_name" default="maze1"/>
  <arg name="debug" default="false"/>
  <arg name="gazebo_gui" default="false"/> <!-- Gazebo CLIENT -->
  <arg name="verbose" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="tree_file" default="main_tree.xml"/>
  <arg name="nav_3d" default="false"/>
  

  <!-- GAZEBO  -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models:$(find mae_simulator)/worlds/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mae_simulator)/worlds/$(arg world_name).world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>

  </include>
  
  <!-- SPAWN A UAV -->
  <include file="$(find mae_simulator)/launch/helpers/spawn_uav.launch">
    <arg name="namespace" value="drone1"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.4"/>
    <arg name="nav_3d" value="$(arg nav_3d)"/>
  </include> 

  <!-- SPAWN A UAV -->
  <include file="$(find mae_simulator)/launch/helpers/spawn_uav.launch">
    <arg name="namespace" value="drone2"/>
    <arg name="x" default="-36.8"/>
    <arg name="y" default="20.6"/>
    <arg name="z" default="0.5"/>
    <arg name="nav_3d" value="$(arg nav_3d)"/>
  </include> 

  <!-- Octomap server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        
      <param name="resolution" value="0.15" />
      <param name="latch" value="false" />
      <param name="frame_id" type="string" value="world" />
      <param name="sensor_model/max_range" value="10" />
      <param name="incremental_2D_projection" value="true"/>
      <param name="pointcloud_min_z" value="0.15" unless="$(arg nav_3d)"/>
      <param name="pointcloud_max_z" value="2" unless="$(arg nav_3d)"/>
      <remap from="cloud_in" to="/combined_pcl" />
    </node>

    <!-- Frontier Generation package -->
    <node pkg="mae_frontier_generation" type="frontier_generation_node" name="frontier_generation_node" output="screen">

      <param name="frontiers_3d" value="$(arg nav_3d)"/>

      <param name="num_agents" value="2"/>
      <remap from="/location_in1" to="/drone1/ground_truth/position"/>
      <remap from="/location_in2" to="/drone2/ground_truth/position"/>


      <remap from="/map_in" to="/projected_map"/>
      <remap from="/octomap_full_in" to="/octomap_full"/>
      <remap from="/frontiers_out" to="/frontiers"/>
      <remap from="/frontiers_viz_out" to="/frontiers_viz"/>
      <remap from= "/blacklist_pt_in" to="/blacklist_pt"/>
      <remap from= "/exploration_area_out" to="/exploration_area"/>
    </node>  

  <!-- Drone Communication -->
  <node pkg="mae_utils" type="global_communication_node.py" name="global_communication_node" output="screen"/>

  <!-- Global Planner Package for Frontiers reordering -->
  <node name="global_planner_node" pkg="mae_global_planner" type="global_planner_node" output="screen"/>
  
  <node pkg="rviz" type="rviz" name="global_rviz" respawn="false" output="screen" args="-d $(find mae_simulator)/rviz/global_comm.rviz"/> 

  <!-- Interface -->
  <node pkg="mae_utils" type="gui_node.py" name="gui_node" output="screen"/>

</launch>